<h3>Bienvenue sur {{ appName }}</h3>

<ul>
    <li><a href="/">Welcome</a></li>
    <li><a href="/toDoList">Créer une liste</a></li>
    <li><a href="/toDoList/read-all">Voir toutes les listes</a></li>

</ul>